* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #5ac8fa;
}
/* grid */
.row {
  width: 100%;
}

.col-2 {
  width: calc(100% / 6);
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333%;
}
.col-5 {
  width: 83.333%;
}
.col-6 {
  width: 50%;
}
.col-9 {
  width: 75%;
}
/* js */

.js_active-input {
  display: block !important ;
}
.js_opa {
  opacity: 80% !important;
}
/* modal */

.box_modal {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: ease-in-out 0.3s;
  display: none;
}

/* validation form*/
.is-invalid,
.invalid-feedback {
  color: #dc3545;
  border-color: #dc3545 !important;
}

/* form */
.btn-close-form {
  width: 5%;
  position: absolute;
  color: var(--primary-color);
  top: 10vh;
  right: 12vw;
  font-size: xx-large;
  cursor: pointer;
}
.btn-close-form:hover {
  opacity: 85%;
}
.btn-close-form:active {
  transform: scale(1.2);
  transition: ease-in 0.05s;
}

.form_add_staff {
  overflow: auto;
  height: 84vh;
  display: flex;
  justify-content: center;
  text-align: left;
  margin: 8vh 10vw;
  padding: 80px 4px 24px 4px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 20%);
  transition: ease-in-out 0.3s;
}

.form_add_staff input {
  width: 100%;
  font-size: larger;
  outline-color: var(--primary-color);
  border: 1px solid #cccccc;
  padding: 6px 8px;
  margin: 4px 0px;
  border-radius: 4px;
}

.form_add_staff form {
  width: 60%;
}

.form_add_staff label {
  font-weight: 600;
  font-size: medium;
}
.form {
  padding: 1em;
}

.box_modal__title {
  position: absolute;
  font-size: large;
  top: 12vh;
  left: 12vw;
}
.btn-submit {
  width: 100%;
  padding: 4px 0px;
  margin: 2px 0 14px 0;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  transition: ease-in-out 0.1s;
}
.btn-submit:hover {
  transform: scale(1.1);
}

/* header  */

.header {
  padding: 12px;
  background: var(--primary-color);
  box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
  position: relative;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav__entry {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-size: small;
  padding: 4px;
  cursor: pointer;
  border-right: 1px solid white;
  color: black;
  text-decoration: none;
  transition: ease-in 0.2s;
}
.header__nav__entry:active {
  transform: rotateX(90deg);
}

.header__nav__entry:last-child {
  border: none;
}
.header__nav__entry i {
  margin-right: 4px;
}

/* header search */

.result {
  display: none;
}
.header__search {
  position: absolute;
  top: 14px;
  right: 12px;
}

.search__input {
  font-size: medium;
  margin: 0 4px;
  display: inline-block;
}

.search__icon {
  font-size: x-large;
}
.search__btn {
  font-size: medium;
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: 2px;
  border: none;
  box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
  padding: 2px;
}
.search__btn:hover {
  opacity: 90%;
}
.search__btn:active {
  transform: scale(0.98);
}
/* wrapper */
.wrapper {
  padding: 12px 0;
  text-align: center;
  position: relative;
}
.wrapper__staffs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/* salary page : wrapper sort */
.wrapper__sorts {
  display: flex;
  position: fixed;
  top: 58px;
  right: 12px;
  box-shadow: 0px 0px 5px var(--primary-color);
}
.sort__label {
  list-style-type: none;
  font-weight: bold;
  font-size: medium;
  margin-right: 4px;
}

.sort__selec {
  list-style-type: none;
  font-size: medium;
  margin-right: 4px;
  cursor: pointer;
}

.sort__selec-sort {
  display: none;
}
.title {
  display: flex;
  justify-content: start;
  align-content: center;
}

.title:first-child {
  padding-left: 6px;
  font-size: large;
}
.btn-addStaff {
  cursor: pointer;
  padding: 0 12px;
  font-size: x-large;
  color: var(--primary-color);
  transition: ease-in 0.1s;
}
.btn-addStaff:hover {
  transform: scale(1.1);
}

/* staff */
.staff {
  margin: 8px 0;
  text-decoration: none;
  color: #551a8b;
}
.staff__content {
  width: 90%;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 10px 0px var(--primary-color);
  margin: auto;
  transition: ease-in;
  border-radius: 4px;
  cursor: pointer;
}
.staff__content:hover {
  transform: scale(1.025);
}
.staff__content > img {
  width: 100%;
}
.staff__content__staff-name {
  width: 90%;
  font-size: large;
  margin: auto;
  padding: 6px 0;
  border: none;
  border-radius: 4px;
  transition: ease-in 0.3s;
}
.staff__content__staff-name:hover {
  color: #030eff;
}
/* footer */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--primary-color);
  padding: 12px 0;
  box-shadow: 0 -1px 10px rgb(0 0 0 / 20%);
}
.footer__address {
  list-style-type: none;
  font-size: medium;
}
.footer__social {
  font-size: x-large;
}
.footer__social__icon {
  padding: 0 4px;
  border-right: 1px solid white;
  cursor: pointer;
}
.footer__social__icon:hover {
  opacity: 80%;
}
.footer__social__icon:last-child {
  border: none;
}
/* css StaffInfo */
.wrapper__path {
  display: flex;
  justify-content: start;
  position: absolute;
  top: 4px;
  left: 12px;
  color: black;
  font-size: medium;
  font-weight: bold;
}
.wrapper__path > a {
  text-decoration: none;
  color: var(--primary-color);
}
.wrapper__path:hover > a {
  opacity: 80%;
}
.wrapper__staff {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0 0px 12px;
}
.wrapper__staff-img > img {
  width: 90%;
}
.wrapper__staff-info {
  text-align: left;
  line-height: 40px;
}
/* css department page */
.wrapper__departments {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.department__info {
  margin: 12px auto;
  padding-bottom: 20px;
  width: 90%;
  box-shadow: 0px 0px 10px var(--primary-color);
  border-radius: 4px;
}
.department__info > h4 {
  font-size: x-large;
  transition: linear 0.2s;
  margin-left: 6px;
}
.department__info > h4:hover {
  color: rgb(255, 149, 0);
}
.department__info > p {
  font-size: medium;
  margin-left: 16px;
  margin-top: 20px;
}
/* css salaryPage */

.wrapper__salarys {
  display: flex;
  flex-wrap: wrap;
}

.salary__content {
  width: 90%;
  text-align: left;
  margin: 12px auto;
  box-shadow: 0px 0px 10px var(--primary-color);
  border-radius: 4px;
  overflow: hidden;
}
.salary__content > h4 {
  font-size: x-large;
  margin-left: 6px;
}
.salary__content p {
  font-size: medium;
  line-height: 36px;
  margin-left: 16px;
}
.salary__content-value {
  background-color: var(--primary-color);
  font-weight: bold;
}
.salary__content-value > p {
  margin: auto 0 auto 6px;
}
/* responsive */
@media (min-width: 768px) and (max-width: 1024px) {
  .md-col-6 {
    width: 50%;
  }
  .md-col-4 {
    width: calc(100% / 3);
  }

  .md-col-3 {
    width: 25%;
  }
  .md-col-8 {
    width: calc(100% - (100% / 3));
  }
  .md-col-12 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .sm-col-6 {
    width: 50%;
  }
  .sm-col-4 {
    width: calc(100% / 3);
  }
  .sm-col-5 {
    width: 41.6666%;
  }
  .sm-col-12 {
    width: 100%;
  }

  .header__search {
    z-index: 3;
    position: fixed;
    top: 90vh;
    padding: 0 4px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
    z-index: 2px;
  }
  .wrapper__staff {
    margin: 16px auto 4px auto;
  }
  .wrapper__staff-info {
    margin-left: 16px;
  }
  .salary__content p {
    line-height: 28px;
  }
}
