*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row{
  width: 100%;
}
.col-4{
  width: calc(100%/3) ;
}
.col-6{
  width: 50%;
}
.col-10{
  width: calc((100%/12)*10);
}
body{
  background: url(https://previews.123rf.com/images/limolida/limolida2001/limolida200100095/139586078-mulberry-washi-paper-texture-background-off-white-natural-fibre-flecks-on-organic-cream-color-all-ov.jpg) ;
 

}
.header{
  padding:12px;

  color: #041c32;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 20%);
  font-weight: bold;
  background: url(https://st4.depositphotos.com/1004551/25271/v/1600/depositphotos_252716370-stock-illustration-seamless-you-see-tiles-checked.jpg);
}
.header h1{
  display: inline-block;
  font-size: large;
}
.header button{
  padding: 6px;
  margin: 0 24px;
  border: none;
  box-shadow: -4px 4px 5px rgba(0, 0, 0, 20%);
  border-radius: 2px;

}
.header button:hover{
  cursor: pointer;
  opacity: 85%;
}
.body{

}
.body ul{
  margin: 8px 0;
  display: flex;
  flex-wrap: wrap;
}
.staff-name{
  list-style-type: none;
 text-align: center;
  margin-top: 8px ;
  height: 32px;
}

.staff-name button{
  width: 90%;
  height: 100%;
  font-size: medium;
  border: none;
  box-shadow: -4px 4px 5px rgba(0, 0, 0, 20%);
  border-radius: 2px;

}
.staff-name button:hover{
  cursor: pointer;
  opacity: 85%;
}
.staff-name button:active{
  transform: rotateX(45deg);
}
.body .info{
  text-align: center;
  font-size: large;
  padding: 40px 0;
  margin: 28px auto;
  box-shadow: 0px 4px 5px 4px rgba(0, 0, 0, 20%);
  transition: ease-in-out 0.5s;
  background: url(./img/body.jpg) no-repeat bottom;
  background-size: cover;
  color: #041c32;
  border-radius: 2px;
  
}
.body .info:hover{
  transform: scale(1.1);
}
.body .info p{
  font-weight: bold;
}