* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row {
  width: 100%;
}

.col-2 {
  width: calc(100% / 6);
}
.col-3 {
  width: 25%;
}
.col-5 {
  width: 83.333%;
}
.col-6 {
  width: 50%;
}
/* header  */

.header {
  padding: 12px;
  background: #5ac8fa;
  box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav__entry {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-size: large;
  padding: 4px;
  cursor: pointer;
  border-right: 1px solid white;
}

.header__nav__entry:last-child {
  border: none;
}
.header__nav__entry i {
  margin-right: 4px;
}

/* wrapper */
.wrapper {
  padding: 12px 0;
  text-align: center;
}
.wrapper__staffs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/* staff */
.staff {
  margin: 8px 0;
}
.staff__content {
  width: 90%;
  background-color: #5ac8fa;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
  margin: auto;
  transition: ease-in;
  border-radius: 4px;
  cursor: pointer;
}
.staff__content:hover {
  transform: scale(1.025);
}
.staff__content > img {
  width: 100%;
}
.staff__content__staff-name {
  width: 90%;
  font-size: large;
  margin: auto;
  padding: 6px 0;
  border: none;
  border-radius: 4px;
  transition: ease-in 0.3s;
}
.staff__content__staff-name:hover {
  color: #030eff;
}
/* footer */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #5ac8fa;
  padding: 12px 0;
}
.footer__address {
  list-style-type: none;
  font-size: medium;
}
.footer__social {
  font-size: x-large;
}
.footer__social__icon {
  padding: 0 4px;
  border-right: 1px solid white;
  cursor: pointer;
}
.footer__social__icon:hover{
  opacity: 80%;
}
.footer__social__icon:last-child {
  border: none;
}
